<div class="info">
	<h1>Welcome to Micro-Reddit</h1>
</div>
<div class="links">
	<% @posts.each do |post| %>
		<%= render "hotpost",post: post %>
	<% end %>
	<div class="vml">
		<%= link_to "next >", root_path%>
	</div>
</div>
