<div class="post">
  <div class="i">
    <div class="s">
      
    </div>
    <div class="t">
      <%= link_to post do %>
        <h2>
          <%= post.title %>
        </h2>
      <% end %>
    </div>
  </div>
  <div class="u">
    <%= post.body %>
  </div>
</div>